# Django / Python
__pycache__/
*.py[cod]
*.pyc
*.pyo
*.pyd
.Python
venv/
*.env
*.sqlite3
db.sqlite3
media/
staticfiles/

# VS Code
.vscode/
*.code-workspace

# Windows
Thumbs.db
desktop.ini