__pycache__/
*.py[cod]
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
*.env
*.sqlite3
media/
staticfiles/

.vscode/
*.code-workspace

.DS_Store
Thumbs.db
ehthumbs.db
desktop.ini

*.log
*.bak
*.swp
*.tmp


*.pyc
*.pyo
*.pyd